# ############################################# #
# NOTE                                          #
# THIS FILE SHOULD NEVER BE VERSION CONTROLLED  #
# ############################################# #

MONGODB_URI="mongodb://<hostname>:<port>"
RABBITMQ_URI="amqp://<hostname>:<port>"
RABBITMQ_QUEUE="<queue-name>"
