# ############################################# #
# NOTE                                          #
# THIS FILE SHOULD NEVER BE VERSION CONTROLLED  #
# ############################################# #

MONGODB_URI="mongodb://<hostname>:<port>"
